* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.center {
  max-width: 1200px;
  margin: 0 auto;
  width: 96vw;
}
/* HEADER  */
.header-container {
  /* background-color: red; */
  border-bottom: solid 1px lightgrey;
  height: 60px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  width: 96vw;
  height: 100%;
  align-items: center;
}
.logo-container > img {
  height: 70%;
}

/* MAIN  */

.main-container {
  display: flex;
  align-items: flex-start;
  padding: 30px 0px 30px 0px;
}
.info-resto {
  flex: 1 1;
}

.main-container > img {
  width: 350px;
  border-radius: 5px;
}
h1 {
  margin-bottom: 30px;
  font-family: IBM Plex Sans;
  font-weight: bold;
  font-size: 30px;
}
p {
  color: #868a8a;
  line-height: 1.5;
  font-size: 22px;
}
section {
  background-color: #f3f5f5;
  padding-top: 20px;
}
section > div {
  width: 70%;
}

.container-meals {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
  width: 70%;
}
.presentation-container {
  min-width: 300px;
  padding: 0 10px 25px;
  width: 50%;
}
.presentation-container-text {
  align-items: flex-start;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 160px;
  padding: 15px;
}
.presentation-container p {
  color: #808484;
  font-size: 15px;
  height: 2.6rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
  overflow: hidden;
  font-family: IBM Plex Sans;
  /* text-overflow: ellipsis; */
}
.presentation-meal {
  flex: 1 1;
  margin-right: 15px;
}
.price-popular {
  display: flex;
  align-items: center;
}
.price {
  color: #808484;
  font-size: 1.1rem;
  font-family: IBM Plex Sans;
}
.popular {
  align-items: center;
  color: #ff8000;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 800;
  margin-left: 1rem;
  font-size: 15px;
  font-family: Stratos Deliveroo Web;
  gap: 5px;
}

h2 {
  font-size: 17px;
  font-family: IBM Plex Sans;
  margin: 0 0 0.5rem;
  line-height: 1.5;
}
.images-meal {
  background-color: aqua;
  width: 130px;
  height: 130px;
}
.images-meal > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
